body {
    font-family: 'lato' sans-sherif;
    color: #291f1a;
    
}
nav ul li a {
    display: inline;
    color: #291f1a;
    font-family: 'lato', sans-serif;
    padding: 20px;
    
/*
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}
*/
    
    
    
}
nav {
    height: 100px;
    width: 400px;
    background-color: pink;
}
header #mainheader img {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url("./img/header-background.jpg");
    
}
#o-mnie > img {
    height: 200px;
    width: auto;
}